@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600&subset=cyrillic,cyrillic-ext,latin-ext');
@font-face {
  font-family: 'icon font';
  src: url('../fonts/icon-font.eot');
  src: url('../fonts/icon-font.eot?#iefix') format('embedded-opentype'), url('../fonts/icon-font.woff') format('woff'), url('../fonts/icon-font.ttf') format('truetype'), url('../fonts/icon-font.svg#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*='icon-']:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconic:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-aeroplane:before {
  content: '\0041';
}
.icon-aeroplane:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arr-right:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arr-right:before {
  content: '\0042';
}
.icon-bed:before {
  content: '\0043';
}
.icon-bed:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-coins:before {
  content: '\0044';
}
.icon-coins:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-construction:before {
  content: '\0045';
}
.icon-construction:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-currency:before {
  content: '\0046';
}
.icon-currency:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-delivery-truck:before {
  content: '\0047';
}
.icon-delivery-truck:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-devices:before {
  content: '\0048';
}
.icon-devices:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-draw:before {
  content: '\0049';
}
.icon-draw:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-exam:before {
  content: '\004a';
}
.icon-exam:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook:before {
  content: '\004b';
}
.icon-facebook:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook-logo:before {
  content: '\004c';
}
.icon-facebook-logo:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-faq-arr:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-faq-arr:before {
  content: '\004d';
}
.icon-file:before {
  content: '\004e';
}
.icon-file:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-google-plus:before {
  content: '\004f';
}
.icon-google-plus:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-headphones:before {
  content: '\0050';
}
.icon-headphones:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-helmet:before {
  content: '\0051';
}
.icon-helmet:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-instagram:before {
  content: '\0052';
}
.icon-instagram:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-invitation:before {
  content: '\0053';
}
.icon-invitation:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-like:before {
  content: '\0054';
}
.icon-like:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-locked:before {
  content: '\0055';
}
.icon-locked:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-magician-hat:before {
  content: '\0056';
}
.icon-magician-hat:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-odnoklassniki-logo:before {
  content: '\0057';
}
.icon-odnoklassniki-logo:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-round-done-button:before {
  content: '\0058';
}
.icon-round-done-button:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-social:before {
  content: '\0059';
}
.icon-social:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tick:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tick:before {
  content: '\005a';
}
.icon-vip:before {
  content: '\0061';
}
.icon-vip:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-vk:before {
  content: '\0062';
}
.icon-vk:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-warning:before {
  content: '\0063';
}
.icon-warning:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yplay:before {
  content: '\0064';
}
.icon-yplay:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yyadd:before{content:'\0065';}
.icon-yyadd:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yycancel:before{content:'\0066';}
.icon-yycancel:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yycheck:before{content:'\0067';}
.icon-yycheck:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yyclose:before{content:'\0068';}
.icon-yyclose:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yyfile:before{content:'\0069';}
.icon-yyfile:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yyupload:before{content:'\006a';}
.icon-yyupload:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yyycalendar:before{content:'\006a';}
.icon-yyycalendar:before:before {
  display: inline-block;
  font-family: 'icon font';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}